body {
    margin: 0px;
    height: 100%;
    font-size: 15px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

#parentContainer {
    height: 100%;
    display: flex;
}

#sideBar {
    flex: 1;
    display: flex;
    background-color: #464749;
    flex-direction: column;
}

#chatWindow {
    flex: 5;
    display: flex;
    flex-direction: column;
    background-color: #d0d1d4;
}

#userInfo {
    display: flex;
}

#welcome {
    color: #ec9d90;
    padding: 10px;
    font-size: x-large;
}

.new {
    display: flex;
    cursor: pointer;
    color: #ffffff;
    padding: 6;
    opacity: 0.8;
}

.new:hover {
    opacity: 1.0;
}

#newRoom {
    margin: 0 6;
}

#newGroup {
    margin: 0 6;
}

#clientsList {
    background-color: #ffffff;
    color: #464749;
    cursor: pointer;
}

#clientsList:hover > div:hover {
    background-color: #464749;
    color: #ffffff;
}

#chatHead {
    padding: 5px;
    background-color: #464749;
    color: #ffffff;
    text-align: center;
    flex: 1;
}

.videoStreams {
    display: none;
    flex: 10;
    flex-direction: column;
    background-color: #ffffff;
}

#remoteFeeds {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#localFeed {
    display: flex;
    align-self: center;
}

#incomingMsg {
    flex: 10;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.popUp {
    flex: 2;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#chat {
    width: 100%;
    align-items: flex-end;
    flex: 1;
}

.toMe {
    width: max-content;
    padding: 3px;
    align-self: flex-start;
}

.fromMe {
    width: max-content;
    padding: 3px;
    align-self: flex-end
}

.general {
   width: max-content;
   padding: 3px;
   align-self: center;
}
#msg {
    width: 80.9%;
}

#logout {
    color: white;
    opacity: 0.8;
    margin: 0px 11px;
    cursor: pointer;
}

#logout:hover {
    opacity: 1.0;
}
